<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hospital.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="~/css/head.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/ticker-style.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top black-bg d-none d-sm-block">
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li class="title"><span class="flaticon-energy"></span> trending-title</li>
                                        <li>Class property employ ancho red multi level mansion</li>
                                        <li><span class="flaticon-calendar"></span> +998 93 988-77-73</li>
                                    </ul>
                                </div>
                                @* <div class="header-info-right">
                                    <ul class="header-date">
                                    </ul>
                                </div> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-mid gray-bg">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-3 col-lg-3 col-md-3 d-none d-md-block">
                                <div class="logo">
                                    <a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Index"><img src="~/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="header-banner f-right ">
                                    <img src="~/assets/img/gallery/header_card.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-8 col-lg-8 col-md-12 header-flex">
                                <!-- sticky -->
                                <div class="sticky-logo">
                                    <a href="#"><img src="~/assets/img/logo/logo.png" alt=""></a>
                                </div>
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-md-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Index">Home</a></li>
                                            <li>
                                                <a class="nav-link" asp-area="admin" asp-controller="Hospitals" asp-action="Index">Hospitals</a>
                                                <ul class="submenu">
                                                    <li><a class="nav-link c" asp-area="admin" asp-controller="Rooms" asp-action="Index">Rooms</a></li>
                                                    <li><a class="nav-link " asp-area="admin" asp-controller="Users" asp-action="AllDoctors">Doctors</a></li>
                                                    <li><a class="nav-link c" asp-area="Doctor" asp-controller="Doctors" asp-action="AddTiming">Doctors Timing</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/html/index.html">Users</a></li>
                                            <li><a class="nav-link" asp-area="Patient" asp-controller="Home" asp-action="Index">Patient</a></li>
                                            <li><a href="#">Contact</a></li>
                                            <li>
                                                <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                                <ul class="submenu">
                                                    <li><a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                                                    <li><a class="nav-link" asp-area="Identity" asp-page="/Account/DoctorRegister">Doctor Register</a></li>
                                                    <li><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Patient Register</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            @* <div class="dropdown">
                                
                            </div> *@
                            <div class="col-xl-4 col-lg-4 col-md-4">
                                <div class="header-right f-right d-none d-lg-block">
                                    <!-- Heder social -->
                                    <ul class="header-social">
                                        <li><a href="https://www.facebook.com/eaxusniddinovich"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://x.com/ergashev__abbos"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.instagram.com/eaxusniddinovich"><i class="fab fa-instagram"></i></a></li>
                                        <li> <a href="https://www.youtube.com/@@eaxusniddinovich"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                    <!-- Search Nav -->
                                    <div class="nav-search search-switch">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-md-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    
    
    <!-- Search model Begin -->
    <div class="search-model-box">
        <div class="d-flex align-items-center h-100 justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- JS here -->

    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/animated.headline.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@*<partial name="_LoginPartial" /> *@
@* <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown"
        data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-globe"></i>
</button>
<ul class="dropdown-menu" aria-labelledby="languageDropdown">
    <li><a class="dropdown-item" href="#"><img src="~/assets/img/language/uz.png" alt="Uzbek" style="width: 15px;" /> O'zbek</a></li>
    <li><a class="dropdown-item" href="#"><img src="~/assets/img/language/ru.png" alt="Russian" style="width: 15px;" /> Русский</a></li>
    <li><a class="dropdown-item" href="#"><img src="~/assets/img/language/en.png" alt="England" style="width: 15px;" /> England</a></li>
</ul> *@